ion-item-divider {
    --background: #1937e2;
    --color: #fff;
  
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
.div{
    --background: #50747a;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
ion-footer{
    position: fixed;
    bottom: 0; 
  }